body {
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
}
#menu_top {
	background: #141414;
	height: 40px;
}
#banner{
	height: auto;
	width: 1000px;

}

#main #left {
	width: 800px;
	
	float: left;
	height: 400px
}

#main #right {
	width: 200px;
	background: blue;
	float: left;
	height: 400px
}
#footer {
	background: #000;
	width: 1000px;
	text-align: center;
	height: 60px;
	color: #fff;
	clear: left;
}
#menu_top ul{
	padding: 0px;
	margin-top: 0px;
}
#menu_top ul li {
	list-style: none;
	float: left;
	border-bottom: 

}
#menu_top ul li a {
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #fff;
	padding: 0px 20px 0px 20px ;
	border-right: 1px solid #f1f1f1;
	
}
#menu_top ul li a.active{
	background: #1949b5;
}
#main ul li{
	list-style: none;
	clear: left;
}
#main #left ul{
	margin: 0px;
	padding: 0px;
}
#main #left ul li img{
	float: left;
	margin-right: 10px;
	
}
#main #left ul li h2{
	font-size: 16px;

}


